.feed{
    
    flex:0.4;
    border-right-color: 1px solid var(--twitter-color);
  
    overflow-y: scroll;
    -ms-overflow-style:none;
    scrollbar-width: none;

}
.feed::-webkit-scrollbar
{
   display: none;
}

.feed__header{
    position: sticky;
    top:0;
    background-color: white;
    z-index:100;
    border:1px solid var(--twitter-background);
   
}
.feed__header > h2{
    font-size:20px;
    font-weight:800px
}