.widgets{
    flex:o.3;
}
.widgets__Input{
    display: flex;
    align-items: center;
    background-color: var(--twitter-background);
    padding:10px;
    border-radius:20px;
    margin-top:10px;
    margin-left:20px;

}
.widgets__Input > input{
    border:none;
    background-color: var(--twitter-background);
    outline-width: 0;
}
.widgets__SearchIcon
{
    color: gray;
}
.widgets__Container{
    margin-top: 15px;
    margin-left: 20px;
    padding:20px;
    background-color: #f5f8fa;
    border-radius: 20px;

}
.widgets__Container >h2{
    font-size: 18px;
    font-weight: 800;
}